*{box-sizing: border-box}
html{
    width: 100%;
}
html, body {
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    font-weight: bold;
    font-family: "Arial", Serif;
    background-color: #C5A78A;
    padding: 25px 0 25px 0;
    color: #3d241c;
}
.nav{
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
    align-items: center;
}
header ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 700px;
    font-size: 18px;
}
.logo_header{
    font-size: 20px;

}
.logo_header a{
    outline: none;
    color: #3d241c;
    text-decoration: none;
}
.logo_header a::after{
    content: '';
    display: block;
    border-bottom: 2px solid #3d241c;
}
header ul li a{
    outline: none;
    text-decoration: none;
    color: #3d241c;
    display: block;
}
header ul li a{
    border-bottom: 2px solid transparent;
}
header ul li a:hover{
    border-bottom: 2px solid #3d241c;
}