*{box-sizing: border-box; font-family: "Arial", Serif;}
html{
    width: 100%;
}
html, body {
    margin: 0;
    padding: 0;
}
header{
    position: fixed;
    width: 100%;
    font-weight: bold;
    background-color: #292929;
    padding: 25px 0 25px 0;
    color: white;
    z-index: 1000;
}
.nav{
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
    align-items: center;
}
header ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 700px;
    font-size: 18px;
}
.logo_header{
    font-size: 20px;
    background: transparent;
}
.logo_header a{
    outline: none;
    color: white !important;
    text-decoration: none !important;
}
.logo_header a::after{
    content: '';
    display: block;
    border-bottom: 3px solid white;
}
.contacts_header{
    font-size: 19px;
    font-weight: bold;
    border-bottom: 3px solid transparent;
}
.contacts_header::after{
    content: '';
    display: block;
    border-bottom: 3px solid transparent;
}
header ul li a{
    outline: none;
    text-decoration: none !important;
    color: white !important;
    display: block;
}
header ul li a{
    border-bottom: 3px solid transparent;
}
header ul li a:hover{
    border-bottom: 3px solid white !important;
    transition-duration: 200ms;
}

/*inf*/
#background{
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 700px;
    background: url("images/main/main.jpg") no-repeat;
    background-size: cover;
}

/*inf.logo*/
#logo{
    padding-top: 75px;
    height: 570px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    text-align: center;
    color: white;
}
#logo>div div{
    margin: 0 auto;
}
#logo>div>div:first-child{
    font-size: 120px;
    padding: 60px 0 60px 0;
}
#logo>div>div:nth-child(2){
    font-size: 25px;
    padding-bottom: 30px;
}
#logo>div>div:last-child{
    font-size: 20px;
}
/*inf.logo*/

/*inf.goods*/
.blocksField{
    width: 100%;
    background-color: white;
    padding-bottom: 30px;
}
.blocksField:nth-child(2n) {
    background-color: rgba(245,245,245,0.96);
}
.block{
    margin: 0 auto;
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.element{
    width: 520px;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0 5px 12px 1px grey;
}
.catalog_blocks{
    font-size: 30px;
    padding-top: 40px;
    padding-bottom: 10px;
    text-align: center;
}
.header_blocks, .header_feedback{
    font-size: 45px;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}
.header_blocks{
    padding-top: 10px;
    padding-bottom: 40px;
}
.block_photo{
    height: 320px;
    width: 100%;
    display: flex;
}
.block_photo a{
    background-repeat: no-repeat;
}
.name_goods{
    font-weight: bold;
    font-size: 18px;
    margin-top: 35px;
}
.description{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    color: grey;
    text-align: justify;
    line-height: 23px;
}
.ph_left, .ph_right{
    display: inline-block;
    background-size: cover;
    background-position: left center;
}
.ph_left{
    width: 255px;
    height: 100%;
}
.col_1{
    height: 100%;
    margin-right: 15px;
}
.ph_right{
    width: 220px;
    height: 98px;
}
.ph_right_note{
    height: 154px;
}
.col_2 a{
    margin-bottom: 6px;
}
.price{
    font-weight: bold;
    font-size: 30px;
}
.footer_element{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.show_popup{
    font-weight: bold;
    padding: 15px;
    background-color: #292929;
    color: white;
    cursor: pointer;
}
.popup-gallery{
    width: 200px;
    height: 200px;
}
/*footer*/
footer{
    background-color: #292929;
    padding: 15px 25px;
    font-weight: bold;
}
.text_contacts{
    font-size: 20px;
    color: rgba(255,255,255,0.96);
}
.text_phone_email{
    color: rgba(198,147,75,0.96);
}
.contacts{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}
.contacts>div>div{
    padding: 10px 0;
    font-size: 18px;
}
.data{
    color: rgba(159,159,145,0.96);
}
.footer_img{
    width: 50px;
    height: 75px;
}
.footer_img img:hover{
    cursor:pointer;
    transform: scale(1.1);
}
.dropdown{
    display: none;
}
/*inf.asdsadsadsadgoods*/

/*inf.adapt*/
/*inf.adapt.header*/

@media only screen and (max-width: 1045px){
    .contacts_header{
        display: none !important;
    }
    .nav{
        justify-content: space-around !important;
    }
    .nav ul{
        display: none !important;
    }
    .dropdown{
        display: block;
    }
}
@media only screen and (max-width: 1400px){
    .nav{
        justify-content: space-around !important;
    }
}
@media only screen and (max-width: 1075px){
    .block{
        justify-content: center !important;
    }
}

.feedback_block{
    background-color: rgba(245,245,245,0.96);
    padding-bottom: 50px;
}
.feedback_container{
    height: 600px;
    width: 350px;
    margin: 0 auto;
}
.feedback_main{
    display: flex;
    justify-content: space-around;
}
/*inf.adapt.header*/

/*inf.adapt*/


/*inf*/